DOORMAN_PG_DB=doorman
DOORMAN_PG_USER=app
DOORMAN_PG_PWD=change_me

DOORMAN_REDIS_PWD=change_me

JWT_RSA_PRIVATE_KEY=***

CAESAR_PG_DB=caesar
CAESAR_PG_USER=app
CAESAR_PG_PWD=change_me

HERALD_PG_DB=herald
HERALD_PG_USER=app
HERALD_PG_PWD=change_me

TELEGRAM_BOT_TOKEN=***
VK_GROUP_TOKEN=***
VK_GROUP_ID=***
