DOORMAN_PG_DB=doorman
DOORMAN_PG_USER=app
DOORMAN_PG_PWD=CHANGE_ME

DOORMAN_REDIS_PWD=CHANGE_ME

JWT_RSA_PRIVATE_KEY=***

CAESAR_PG_DB=caesar
CAESAR_PG_USER=app
CAESAR_PG_PWD=CHANGE_ME

DOORMAN_JWKS_URL=http://doorman/api/v1/.well-known/jwks.json

HERALD_PG_DB=herald
HERALD_PG_USER=app
HERALD_PG_PWD=CHANGE_ME

TELEGRAM_BOT_TOKEN=***

SMS_API_KEY=CHANGE_ME
SMS_ALLOWED_PHONES=+79999999999,+79999999998

CHARON_PG_USER=charon_test
CHARON_PG_PWD=CHANGE_ME
CHARON_PG_DB=charon_test

CHARON_REDIS_PWD=CHANGE_ME

DEEPSEEK_API_KEY=CHANGE_ME
DEEPSEEK_BASE_URL=https://api.deepseek.com

NATS_PASSWORD_DOORMAN=CHANGE_ME
NATS_PASSWORD_HERALD=CHANGE_ME
NATS_PASSWORD_CAESAR=CHANGE_ME
NATS_PASSWORD_CHARON=CHANGE_ME
NATS_PASSWORD_RIDDLER=CHANGE_ME
NATS_PASSWORD_SPHINX=CHANGE_ME

GRAFANA_ADMIN_PASSWORD=CHANGE_ME
