edium.online, www.edium.online {
	root * /srv/landing
	file_server
	encode gzip
}

api.edium.online {
    handle /doorman/v1/* {
        reverse_proxy doorman:80
    }
    handle /caesar/v1/* {
        reverse_proxy caesar:80
    }
    handle /herald/v1/* {
        reverse_proxy herald:80
    }
    handle {
        respond "Not Found" 404
    }
}

grafana.edium.online {
    reverse_proxy grafana:3000
}
