# Yandex Cloud
cloud_id    = "b1gXXXXXXXXXXXXXX"
folder_id   = "b1gXXXXXXXXXXXXXX"
sa_key_file = "key.json"

# SSH
ssh_public_key    = "ssh-ed25519 AAAA... user@host"
ssh_allowed_cidrs = ["YOUR_IP/32"]

# Doorman
doorman_pg_password_test = "CHANGE_ME"
doorman_pg_password_prod = "CHANGE_ME"

# Herald
herald_pg_password_test = "CHANGE_ME"
herald_pg_password_prod = "CHANGE_ME"

# Charon
charon_pg_password_test = "CHANGE_ME"
charon_pg_password_prod = "CHANGE_ME"

# Caesar
caesar_pg_password_test = "CHANGE_ME"
caesar_pg_password_prod = "CHANGE_ME"

# Redis
redis_password = "CHANGE_ME"

# Domain
domain = "edium.online"
