openapi: "3.0.3"
info:
  title: Edium Caesar
  description: Пользователи, классы, участники классов, курсы
  version: "1.0.0"

servers:
  - url: https://api.edium.online
    description: Production
  - url: https://test.edium.online
    description: Testing

security:
  - BearerAuth: []

# ════════════════════════════════════════════════════════════════════════
paths:

  # ─── Пользователи ──────────────────────────────────────────────────

  /caesar/v1/users/me:
    get:
      summary: Получить профиль текущего пользователя
      operationId: getMe
      tags: [Users]
      responses:
        "200":
          description: Профиль пользователя
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserProfile"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

    patch:
      summary: Обновить профиль текущего пользователя
      operationId: updateMe
      tags: [Users]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateUserRequest"
      responses:
        "204":
          description: Успешно обновлено
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "500":
          $ref: "#/components/responses/InternalError"

    delete:
      summary: Удалить аккаунт текущего пользователя
      operationId: deleteMe
      tags: [Users]
      responses:
        "204":
          description: Аккаунт удалён
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

  /caesar/v1/users/me/statistic:
    get:
      summary: Получить статистику текущего пользователя
      operationId: getMeStatistic
      tags: [Users]
      responses:
        "200":
          description: Статистика пользователя
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserStatistic"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

  # ─── Классы ────────────────────────────────────────────────────────

  /caesar/v1/classes/me:
    get:
      summary: Получить классы текущего пользователя
      operationId: getMyClasses
      tags: [Classes]
      parameters:
        - name: role
          in: query
          required: true
          description: Роль пользователя в классе
          schema:
            type: string
            enum: [teacher, student]
      responses:
        "200":
          description: Список классов
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClassListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

  /caesar/v1/classes:
    post:
      summary: Создать класс
      operationId: createClass
      tags: [Classes]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateClassRequest"
      responses:
        "200":
          description: Класс создан
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateClassResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "500":
          $ref: "#/components/responses/InternalError"

  /caesar/v1/classes/{classId}:
    get:
      summary: Получить детали класса
      operationId: getClass
      tags: [Classes]
      parameters:
        - $ref: "#/components/parameters/ClassId"
      responses:
        "200":
          description: Детали класса
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClassDetail"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

    patch:
      summary: Обновить класс
      operationId: updateClass
      tags: [Classes]
      parameters:
        - $ref: "#/components/parameters/ClassId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateClassRequest"
      responses:
        "204":
          description: Успешно обновлено
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "500":
          $ref: "#/components/responses/InternalError"

    delete:
      summary: Удалить класс
      operationId: deleteClass
      tags: [Classes]
      parameters:
        - $ref: "#/components/parameters/ClassId"
      responses:
        "204":
          description: Класс удалён
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  # ─── Участники класса ──────────────────────────────────────────────

  /caesar/v1/classes/{classId}/members/{userId}:
    delete:
      summary: Исключить участника из класса
      operationId: removeMember
      tags: [Members]
      parameters:
        - $ref: "#/components/parameters/ClassId"
        - $ref: "#/components/parameters/UserId"
      responses:
        "204":
          description: Участник исключён
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  # ─── Приглашения ───────────────────────────────────────────────────

  /caesar/v1/classes/{classId}/invite:
    get:
      summary: Получить ссылку-приглашение в класс по роли
      operationId: getClassInviteLink
      tags: [Invitations]
      parameters:
        - $ref: "#/components/parameters/ClassId"
        - name: role
          in: query
          required: true
          description: Роль приглашаемого
          schema:
            type: string
            enum: [teacher, student]
      responses:
        "200":
          description: Ссылка-приглашение
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InviteLinkResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /caesar/v1/invitations/{invitationId}:
    get:
      summary: Получить информацию о приглашении
      operationId: getInvitation
      tags: [Invitations]
      parameters:
        - $ref: "#/components/parameters/InvitationId"
      responses:
        "200":
          description: Данные приглашения
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvitationDetail"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /caesar/v1/invitations/{invitationId}/accept:
    post:
      summary: Принять приглашение в класс
      operationId: acceptInvitation
      tags: [Invitations]
      parameters:
        - $ref: "#/components/parameters/InvitationId"
      responses:
        "200":
          description: Приглашение принято
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AcceptInvitationResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "500":
          $ref: "#/components/responses/InternalError"

  # ─── Курсы ─────────────────────────────────────────────────────────

  /caesar/v1/classes/{classId}/courses:
    get:
      summary: Получить курсы класса
      operationId: getClassCourses
      tags: [Courses]
      parameters:
        - $ref: "#/components/parameters/ClassId"
      responses:
        "200":
          description: Список курсов класса
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CourseListResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /caesar/v1/courses:
    post:
      summary: Создать курс
      operationId: createCourse
      tags: [Courses]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateCourseRequest"
      responses:
        "200":
          description: Курс создан
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateCourseResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "500":
          $ref: "#/components/responses/InternalError"

  /caesar/v1/courses/{courseId}:
    get:
      summary: Получить детали курса с модулями и элементами
      operationId: getCourse
      tags: [Courses]
      parameters:
        - $ref: "#/components/parameters/CourseId"
      responses:
        "200":
          description: Детали курса
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CourseDetail"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

    patch:
      summary: Обновить курс
      operationId: updateCourse
      tags: [Courses]
      parameters:
        - $ref: "#/components/parameters/CourseId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateCourseRequest"
      responses:
        "204":
          description: Успешно обновлено
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "500":
          $ref: "#/components/responses/InternalError"

    delete:
      summary: Удалить курс
      operationId: deleteCourse
      tags: [Courses]
      parameters:
        - $ref: "#/components/parameters/CourseId"
      responses:
        "204":
          description: Курс удалён
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  # ─── Модули ────────────────────────────────────────────────────────

  /caesar/v1/courses/{courseId}/modules:
    post:
      summary: Создать модуль в курсе
      operationId: createModule
      tags: [Modules]
      parameters:
        - $ref: "#/components/parameters/CourseId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateModuleRequest"
      responses:
        "200":
          description: Модуль создан
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateModuleResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "500":
          $ref: "#/components/responses/InternalError"

  /caesar/v1/modules/{moduleId}:
    patch:
      summary: Обновить модуль
      operationId: updateModule
      tags: [Modules]
      parameters:
        - $ref: "#/components/parameters/ModuleId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateModuleRequest"
      responses:
        "204":
          description: Успешно обновлено
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "500":
          $ref: "#/components/responses/InternalError"

    delete:
      summary: Удалить модуль
      operationId: deleteModule
      tags: [Modules]
      parameters:
        - $ref: "#/components/parameters/ModuleId"
      responses:
        "204":
          description: Модуль удалён
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  # ─── Элементы модуля ───────────────────────────────────────────────

  /caesar/v1/modules/{moduleId}/items:
    post:
      summary: Добавить элемент в модуль
      operationId: createCourseItem
      tags: [Items]
      parameters:
        - $ref: "#/components/parameters/ModuleId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateCourseItemRequest"
      responses:
        "200":
          description: Элемент добавлен
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateCourseItemResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /caesar/v1/items/{itemId}:
    delete:
      summary: Удалить элемент из модуля
      operationId: deleteCourseItem
      tags: [Items]
      parameters:
        - $ref: "#/components/parameters/ItemId"
      responses:
        "204":
          description: Элемент удалён
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  # ─── Ведомость ─────────────────────────────────────────────────────

  /caesar/v1/courses/{courseId}/sheet:
    get:
      summary: Получить ведомость курса
      operationId: getCourseSheet
      tags: [Sheet]
      parameters:
        - $ref: "#/components/parameters/CourseId"
      responses:
        "200":
          description: Ведомость курса
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CourseSheet"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

# ════════════════════════════════════════════════════════════════════════
components:

  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  # ─── Параметры пути ────────────────────────────────────────────────

  parameters:
    ClassId:
      name: classId
      in: path
      required: true
      schema:
        type: string
        format: uuid
        example: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
    UserId:
      name: userId
      in: path
      required: true
      schema:
        type: string
        format: uuid
        example: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
    InvitationId:
      name: invitationId
      in: path
      required: true
      schema:
        type: string
        format: uuid
        example: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
    CourseId:
      name: courseId
      in: path
      required: true
      schema:
        type: string
        format: uuid
        example: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
    ModuleId:
      name: moduleId
      in: path
      required: true
      schema:
        type: string
        format: uuid
        example: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
    ItemId:
      name: itemId
      in: path
      required: true
      schema:
        type: string
        format: uuid
        example: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"

  schemas:

    # ─── Пользователи ────────────────────────────────────────────────

    UserProfile:
      type: object
      required: [id, name, surname]
      properties:
        id:
          type: string
          format: uuid
          example: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
        name:
          type: string
          example: "Иван"
        surname:
          type: string
          example: "Иванов"

    UpdateUserRequest:
      type: object
      properties:
        name:
          type: string
          example: "Иван"
        surname:
          type: string
          example: "Иванов"

    UserStatistic:
      type: object
      required:
        - class_teacher_count
        - student_count
        - course_teacher_count
        - course_student_count
        - quiz_count_passed
        - avg_quiz_score
      properties:
        class_teacher_count:
          type: integer
          description: Количество классов, где пользователь учитель
          example: 3
        student_count:
          type: integer
          description: Суммарное количество учеников во всех классах пользователя
          example: 45
        course_teacher_count:
          type: integer
          description: Количество курсов, где пользователь является преподавателем
          example: 7
        course_student_count:
          type: integer
          description: Количество курсов, где пользователь ученик
          example: 5
        quiz_count_passed:
          type: integer
          description: Количество пройденных квизов
          example: 20
        avg_quiz_score:
          type: number
          format: float
          description: Средняя оценка по всем квизам (0–100)
          example: 78.5

    # ─── Классы ──────────────────────────────────────────────────────

    ClassSummary:
      type: object
      required: [id, title, owner_name, student_count, is_owner]
      properties:
        id:
          type: string
          format: uuid
          example: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
        title:
          type: string
          example: "10А — Математика"
        owner_name:
          type: string
          description: "Имя Фамилия владельца"
          example: "Пётр Сидоров"
        student_count:
          type: integer
          example: 28
        is_owner:
          type: boolean
          description: Является ли текущий пользователь владельцем класса

    ClassListResponse:
      type: object
      required: [classes]
      properties:
        classes:
          type: array
          items:
            $ref: "#/components/schemas/ClassSummary"

    ClassDetail:
      type: object
      required: [id, title, owner_name, is_owner, teachers, students, courses]
      properties:
        id:
          type: string
          format: uuid
          example: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
        title:
          type: string
          example: "10А — Математика"
        owner_name:
          type: string
          example: "Пётр Сидоров"
        is_owner:
          type: boolean
        teachers:
          type: array
          items:
            $ref: "#/components/schemas/MemberShort"
        students:
          type: array
          items:
            $ref: "#/components/schemas/MemberShort"
        courses:
          type: array
          items:
            $ref: "#/components/schemas/CourseSummary"

    MemberShort:
      type: object
      required: [id, name, surname]
      properties:
        id:
          type: string
          format: uuid
          example: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
        name:
          type: string
          example: "Мария"
        surname:
          type: string
          example: "Кузнецова"

    CreateClassRequest:
      type: object
      required: [title]
      properties:
        title:
          type: string
          example: "10А — Математика"

    CreateClassResponse:
      type: object
      required: [id]
      properties:
        id:
          type: string
          format: uuid
          example: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"

    UpdateClassRequest:
      type: object
      properties:
        title:
          type: string
          example: "10Б — Физика"

    # ─── Приглашения ─────────────────────────────────────────────────

    InviteLinkResponse:
      type: object
      required: [invitation_id]
      properties:
        invitation_id:
          type: string
          format: uuid
          example: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"

    InvitationDetail:
      type: object
      required: [class_title, class_student_count, role]
      properties:
        class_title:
          type: string
          example: "10А — Математика"
        class_student_count:
          type: integer
          example: 28
        role:
          type: string
          enum: [teacher, student]
          example: "student"

    AcceptInvitationResponse:
      type: object
      required: [class_id]
      properties:
        class_id:
          type: string
          format: uuid
          example: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"

    # ─── Курсы ───────────────────────────────────────────────────────

    CourseSummary:
      type: object
      required: [id, title, teacher_name, module_count, element_count, is_teacher]
      properties:
        id:
          type: string
          format: uuid
          example: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
        title:
          type: string
          example: "Алгебра 10 класс"
        teacher_name:
          type: string
          example: "Пётр Сидоров"
        module_count:
          type: integer
          example: 4
        element_count:
          type: integer
          example: 12
        is_teacher:
          type: boolean

    CourseListResponse:
      type: object
      required: [courses]
      properties:
        courses:
          type: array
          items:
            $ref: "#/components/schemas/CourseSummary"

    CourseDetail:
      type: object
      required: [id, title, teacher_name, module_count, element_count, is_teacher, modules]
      properties:
        id:
          type: string
          format: uuid
          example: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
        title:
          type: string
          example: "Алгебра 10 класс"
        teacher_name:
          type: string
          example: "Пётр Сидоров"
        module_count:
          type: integer
          example: 3
        element_count:
          type: integer
          example: 12
        is_teacher:
          type: boolean
        modules:
          type: array
          items:
            $ref: "#/components/schemas/ModuleDetail"

    CreateCourseRequest:
      type: object
      required: [title, class_id]
      properties:
        title:
          type: string
          example: "Алгебра 10 класс"
        class_id:
          type: string
          format: uuid
          example: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"

    CreateCourseResponse:
      type: object
      required: [id]
      properties:
        id:
          type: string
          format: uuid
          example: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"

    UpdateCourseRequest:
      type: object
      properties:
        title:
          type: string
          example: "Геометрия 10 класс"

    # ─── Модули ──────────────────────────────────────────────────────

    ModuleDetail:
      type: object
      required: [id, title, element_count, items]
      properties:
        id:
          type: string
          format: uuid
          example: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
        title:
          type: string
          example: "Модуль 1: Функции"
        element_count:
          type: integer
          example: 4
        items:
          type: array
          items:
            $ref: "#/components/schemas/CourseItemDetail"

    CreateModuleRequest:
      type: object
      required: [title]
      properties:
        title:
          type: string
          example: "Модуль 1: Функции"

    CreateModuleResponse:
      type: object
      required: [id]
      properties:
        id:
          type: string
          format: uuid
          example: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"

    UpdateModuleRequest:
      type: object
      required: [title]
      properties:
        title:
          type: string
          example: "Модуль 2: Уравнения"

    # ─── Элементы модуля ─────────────────────────────────────────────

    CourseItemDetail:
      type: object
      required: [id, ref_id, type, order_index]
      properties:
        id:
          type: string
          format: uuid
          example: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
        ref_id:
          type: string
          format: uuid
          description: ID квиза в Riddler
          example: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
        type:
          type: string
          enum: [quiz]
          example: "quiz"
        order_index:
          type: integer
          example: 0
        attempt_id:
          type: string
          format: uuid
          nullable: true
          description: ID попытки прохождения текущего пользователя
          example: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
        score:
          type: number
          format: float
          nullable: true
          description: Оценка текущего пользователя (0–100)
          example: 85.0

    CreateCourseItemRequest:
      type: object
      required: [ref_id, type, order_index]
      properties:
        ref_id:
          type: string
          format: uuid
          description: ID квиза из Riddler
          example: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
        type:
          type: string
          enum: [quiz]
          example: "quiz"
        order_index:
          type: integer
          example: 0

    CreateCourseItemResponse:
      type: object
      required: [id]
      properties:
        id:
          type: string
          format: uuid
          example: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"

    # ─── Ведомость ───────────────────────────────────────────────────

    CourseSheet:
      type: object
      required: [items, students]
      properties:
        items:
          type: array
          description: Колонки ведомости — элементы курса в порядке прохождения
          items:
            $ref: "#/components/schemas/SheetColumn"
        students:
          type: array
          description: Строки ведомости — по одной на каждого студента
          items:
            $ref: "#/components/schemas/SheetRow"

    SheetColumn:
      type: object
      required: [id, ref_id]
      properties:
        id:
          type: string
          format: uuid
          description: ID элемента курса
          example: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
        ref_id:
          type: string
          format: uuid
          description: ID квиза в Riddler
          example: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"

    SheetRow:
      type: object
      required: [student_id, student_name, scores]
      properties:
        student_id:
          type: string
          format: uuid
          example: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
        student_name:
          type: string
          example: "Мария Кузнецова"
        scores:
          type: array
          description: Оценки в том же порядке, что и items
          items:
            $ref: "#/components/schemas/SheetScore"

    SheetScore:
      type: object
      required: [item_id]
      properties:
        item_id:
          type: string
          format: uuid
          example: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
        score:
          type: number
          format: float
          nullable: true
          description: null если элемент не пройден
          example: 85.0

    # ─── Ошибки ──────────────────────────────────────────────────────

    ErrorResponse:
      type: object
      required: [error]
      properties:
        error:
          type: string
          example: "описание ошибки"

  # ─── Стандартные ответы ────────────────────────────────────────────

  responses:
    BadRequest:
      description: Некорректный запрос
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Unauthorized:
      description: Требуется авторизация
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Forbidden:
      description: Нет прав на выполнение операции
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    NotFound:
      description: Ресурс не найден
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Conflict:
      description: Конфликт (например, пользователь уже в классе)
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    UnprocessableEntity:
      description: Ошибка валидации
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    InternalError:
      description: Внутренняя ошибка сервера
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"

# ════════════════════════════════════════════════════════════════════════
tags:
  - name: Users
    description: Профиль и статистика пользователя
  - name: Classes
    description: Управление классами
  - name: Members
    description: Участники класса
  - name: Invitations
    description: Приглашения в класс
  - name: Courses
    description: Курсы
  - name: Modules
    description: Модули курса
  - name: Items
    description: Элементы модуля (квизы)
  - name: Sheet
    description: Ведомость успеваемости
