test.edium.online {
    handle /doorman/v1/* {
        reverse_proxy doorman:80
    }
    handle /caesar/v1/* {
        reverse_proxy caesar:80
    }
    handle /herald/v1/* {
        reverse_proxy herald:80
    }
    handle /riddler/v1/* {
        reverse_proxy riddler:80
    }
    handle /louvre/v1/* {
        reverse_proxy louvre:80
    }
    handle {
        respond "Not Found" 404
    }
}

grafana-test.edium.online {
    reverse_proxy grafana:3000
}

jaeger-test.edium.online {
    reverse_proxy jaeger:16686
}
